#header {
    background-color: greyscale;
    height: 10%;
    text-align : center;
    font-size: 25px;
    border-bottom: 2px solid black;
    margin-top: 0px;
    padding-top: 0px;
    border-top: 0px
    width: 100%
}

.clickbox {
    color: #AA0114;
    height: 2em;
    width: 4em; /*em check*/
    text-align:right;
    border: 2px solid black;
    /*position: fixed;
    margin-right: 10px; time will tell haha*/
    /*maybe rel pos for stacking the buttons? prolly gonna have to google it*/
}

#sidebar {
    /*height and pos concerns*/
    width:20%;
    height:60%;
    float:left; /*pos anywhere, maybe use table*/
    text-align: center;
    border: 0px 2px 2px 2px solid black;
}

/*#sidebar.img {
    height: 200px;
    width: 200px;
    border:1px solid black;
}*/

#maintext {
    height: 40%;
    width: 70%;
    margin-right: 50px;
    text-align: center;
    float: right;
    border: 0px 2px 2px 2px solid black;
    /*pos issues*/
}

#blogp1 {
    /*pos issues*/
    /*width: BlogP2 - img - padding*/
    text-align: left;
}

#blogp2 {
    /*pos issues*/
    /*width: BlogP2 - img - padding*/
    text-align: left;
}

#blogimage {
    /*pos issues*/
    height: /*2/3*/;
    width: /*BlogP2 - img - padding*/;
    text-align: center;
}

#footer {
    width: 95%;
    border: 2px solid black;
    text-align: left;
    bottom: 2em;
    clear:both;
    position: static;
}