*{
	font: Montserrat, Verdana;
}

#header {
		position: fixed;
		width:95%;
		text-align: center;
		font-size: 6em;
		font-weight: 900;
		border: 2px black solid;
		background-color: Bisque;
}

#buttons {
		position: fixed;
		top: 19%;
		float: left;
		text-align: center;
		padding: 7px;
		font-size: 2.1em;
		border: 2px black solid;
		background-color: #FFFF99;
		z-index: 2;
}

#maintext {
		float: left;
		margin-top: 13%;
		height: 68%;
		width: 65%;
		overflow: scroll;
	}
#titletext {
		text-align: center;
		font-size: 3em;
		font-weight: bold;
}
#bodytext	{	
		text-align:left;
		font-size: 1.2em;
}

#mysmilingface{
		position: fixed;
		float: right;
		top: 20%;
		right: 31%;}

#sidebar {
		float: right;
		font-size: 20px;
		text-align: center;
		margin-top: 20%;
		margin-right: 4%;
		height: 53%;
		width: 28%;
		border: 1px solid black;
}

