
html, body, div {
    text-align: center;
    font-family: HelveticaNeue-Light;
}

h1 {
    background-color: #4C4C4C;
    padding: 3%;
    color: #ffffff;
}

h2 {
    background-color: #808080;
    padding: 2%;
   color: #ffffff;
}

p {

}

table {
    margin: 7% 0;
    border: 1px solid #333333;
    border-collapse: collapse;
    
}

tr {
    margin: 5% 15%;
    width: 60%;
} 

th {
    text-align: center;
    padding: 1.5%;
    border: 1px solid #B2B2B2;
    background-color: #E6E6E6;
}

td {
   padding: 3% 3%;
   border: 1px solid #B2B2B2;

}

.code {
    font-family: "Courier New", Courier, monospace;
    width: 45%;
    text-align: left;
}

.description {
    text-align: left;
    vertical-align: baseline;
}

.section {
    margin: 10% 15%;
}

#header {
    margin: 5% 15%;
}

img {
    height: 10%;
    width: 10%;
}